.box1{
    background-color: aqua;
    color: white;
    font-size: 20px;
}

.box2{
    background-color: rgb(254, 37, 37);
    color: white;
    font-size: 18px;
}

.box3{
    background-color: greenyellow;
    color: white;
    font-size: 16px;
}