.body{
    background-color: #f7f7f7;
    border-radius: 10px;
    margin-right: 464px;
    margin-left: 500px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}



#bawah{
    margin-right: 10px;
}

.container-bawah{
    margin-left: 10px;
}

.container-bawah h4{
    color: #4D4D4D;
}

.container-bawah button{
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #4C6FFF;
    color: white;
    border: none;
    border-radius: 8px  ;
}