
#atas{
    align-items: center;
    margin-left: 400px;
}


.container-atas{
    display: flex;
    align-items: center;
}

.kiri-atas{
    display: flex;
    align-items: center;
}

.kiri-atas img{
    margin-right: 10px;
}

.isi-kiri p{
    margin-top: -15px;
}

.container-atas img{
    margin-left: 100px;
}

#tengah{
    margin-left: 500px;
}

#bawah{
    margin-left: 500px;
}

.container-bawah{
    margin-right: 425px;
    display: flex;
    justify-content: space-between;
}

.container-bawah img{
    margin-right: 96px;
    margin-top: 20px;
}

.container-bawah .thumb{
    margin-left: 5px;
}

.container-bawah p{
    overflow: scroll;
    width: 310px;
    height: 100px;
}

#paling-bawah{
    margin-left: 505px;
    margin-top: 20px;
}