*{
    margin: 0;
    padding: 0;
}

#set-style-ul{
    list-style-type: square;
    background-color: aqua;
}

#set-style-ol{
    list-style-type: lower-roman;
    background-color: blue;
}

hr{
    margin-top: 50px;
    margin-bottom: 50px;
}

.nav-horizontal{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: cornflowerblue;
}

.nav-horizontal li{
    float: left;
}

.nav-horizontal li a{
    display: block;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 14px 16px;

}

.nav-horizontal li a:hover{
    background-color: black;
}

.nav-vertikal{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    background-color: #f1f1f1;
    width: 25%;
    height: 100%;
    overflow: hidden;


}

.nav-vertikal li a{
    display: block;
    color: black;
    text-decoration: none;
    padding: 8px 8px 8px 16px;
}

.nav-vertikal a.active{
    background-color: blue;
    color: white;
}

.nav-vertikal a:hover:not(.active){
    background-color: #555;
    color: white;
}